.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.sidebar {
    background-image: linear-gradient(180deg, var(--primary-dark) 0%, var(--primary-default) 80%);
    z-index: 5001;
    position: sticky;
    left: 0px;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.page-footer {
    display: none;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page-footer {
        /* display: flex; */
        background-image: linear-gradient( 180deg, #1f0326 0%, #3a0647 80%);
        justify-content: center;
    }

    .sidebar {
        width: 100%;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
