@using RaceResultsBlazor.App.Services
@inject ResultsService ResultsService
@inject NavigationManager NavManager

<div class="menu-container">
    <div class="top-row">
        <Button class="nav-top-button" @onclick="NavigateHome"><span class="oi oi-home mr-2" /></Button>
        <Button class="nav-top-button expand-button" @onclick="ToggleNavMenu"><span class="oi oi-list mr-2" /></Button>
    </div>

    <Button class="nav-btn desktop-only home" @onclick="NavigateHome"><span class="oi oi-home mr-2" /></Button>
    @foreach (var serie in series)
    {
        <div class="@NavMenuCssClass">
            <a class="btn nav-btn main_btn" href="@serie.BaseLink">@serie.Title</a>
        </div>
    }
</div>
