.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

button {
    border: hidden;
    background: transparent;
    color: white;
}

button:hover {
    background: #ffffff30
}

.nav-top-button {
    width: 54px;
    flex-grow: 0;
}

.expand-button {
    justify-self: end;
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 100%;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-sub-menu {
    background-color: #0f0f0f;
    border-radius: 8px;
    padding: 0px;
    z-index: 2001;
}

.nav-sub-menu-item {
    color: #ffffff;
    padding: .75rem 1.5rem;
    border-radius: 8px;
}

.nav-sub-menu-item:hover {
    background: #ffffff30;
}

.nav-btn {
    padding: 16px;
    width: -webkit-fill-available;
}

.nav-btn:hover {
    background: #ffffff30;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 2rem;
        display: flex;
        align-items: center;
        line-height: 2rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .top-row {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-btn {
        width: auto;
    }

    .nav-top-button {
        flex-grow: 1;
    }

    .expand-button {
        display: none;
    }

    .menu-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 640.95px) {
    .desktop-only {
        display: none;
    }
}
