@using RaceResultsBlazor.App.Services
@using RaceResultsBlazor.App.Models
@inject ResultsService ResultsService

<div>
    <div class="top-row">
        <Button class="nav-item px-3" @onclick="@RefreshData"> <span class="oi oi-reload mr-2" /></Button>
    </div>
    <ul class="nav card-columns">
        @foreach (var serie in series)
        {
        <li class="nav-item px-3"><h4>@serie.Title</h4></li>
        @if (serie.ContainsDriverResults)
            {
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@serie.DriversLink">
                Drivers standings
            </NavLink>
        </li>
            }
        @if (serie.ContainsTeamResults)
            {
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@serie.TeamsLink">
                Teams standings
            </NavLink>
        </li>
            }
        }
    </ul>
</div>

@code {
    private SeriesInfo[] series;

    protected override async Task OnInitializedAsync()
    {
        series = await ResultsService.GetSeriesAsync();
    }

    protected Task RefreshData()
    {
        return ResultsService.RefreshData();
    }
}
