<div class="footer-base central-section">
    <div class="footer-section">
        <h4>Placeholder footer text</h4>
        This is placeholder text, please make pretty. kthnx.
    </div>

    <div class="footer-section">
        <h4>Placeholder footer text</h4>
        This is placeholder text, please make pretty. kthnx.
    </div>
</div>