.calendar-item-container {

}

.calendar-top-row {

}

.calendar-item-number {

}

.calendar-item-title {

}

.calendar-item-flag {

}

.calendar-track-flag {

}

.toggelable-header {
    user-select: none;
}

.toggelable:hover {
    cursor: pointer;
}

.expand-icon {
    float: right;
    font-size: 1.25rem;
    width: 1.25rem;
    margin: 0.25rem;
    text-align: center;
}

.collapsed {
    display: none;
}