.qualy-background-image {
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 4px 0px;
    align-items: center;
}

td, th {
    border-radius: 8px;
    text-align: left;
    padding: 4px 8px;
    background-color: #000000e0;
    color: #ffffff;
    white-space: nowrap;
    min-height: 32px;
    height: 32px;
}

.laps-done {
    background: linear-gradient( 270deg, #00cc00e0, #000000e0 48px);
    padding-right: 32px;
}

.in-progress {
    background: linear-gradient( 270deg, #cc8500, #000000e0 48px);
    padding-right: 32px;
}

.no-laps {
    background: linear-gradient( 270deg, #cc0000e0, #000000e0 48px);
    padding-right: 32px;
}

h3 {
    background-color: #000000e0;
    border-radius: 8px;
    padding: 4px 8px;
}