@page "/"

    <div class="main">
        <h1>Hello, nerd!</h1>

        <p>
            Welcome to Findict's hobby project, one of the few that got out of hand.
        </p>

        <p>
            Now shit is tracked here lol.
        </p>

        <p>
            Sections and stuff are on the left. If any data is incorrect or you have suggestions, please gently assault me on Discord.
        </p>
    </div>
