@page "/"

<div class="central-section main-section">
    <h1>Hello, nerd!</h1>
    <p>
        Welcome to Findict's hobby project, The BSKIT racing hub.
    </p>
    <p>
        Here, I track all race results of series we organise in BSKIT.
    </p>
    <p>
        Sections and stuff are on the top. If any data is incorrect or you have suggestions, please gently assault me on Discord.
    </p>
</div>