.sub-section {
    margin-bottom: 24px;
}

.nav-btn-bar {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
}

.series-nav-btn {
    flex-grow: 1;
    flex-basis: 24%;
    min-width: 18rem;
}

.thin-separator {
    height: 1px;
    width: 100%;
    background-color: white;
}

.thicc-separator {
    height: 2px;
    width: 100%;
    background-color: white;
}

.toggelable-header {
    user-select: none;
}

.toggelable:hover {
    cursor: pointer;
}

.expand-icon {
    float: right;
    font-size: 1.25rem;
    width: 1.25rem;
    margin: 0.25rem;
    text-align: center;
}

.collapsed {
    display: none;
}