* {
    padding: 0px;
    margin: 0px;
}

.team-list {
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 4px 0px;
    flex-direction: column;
    row-gap: 4px;
    align-items: center;
}

.team-container {
    border-style: solid;
    display: flex;
    width: 100%;
    border-width: 0px 0px 0px 8px;
    flex-direction: column;
    align-items: stretch;
    background-color: #00000080;
}

.team-name {
    height: 32px;
    font-size: large;
    font-weight: 600;
    border-radius: 0px 8px 8px 0px;
    background: #000000cc;
}

.drivers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.driver-number {
    font-weight: bold;
    background-color: #000000;
    width: 32px;
    text-align: center;
    height: 100%;
    font-family: monospace;
    font-size: large;
    line-height: 32px;
    border-radius: 8px 0px 0px 8px;
}

.flagged-name {
    display: flex;
    flex-basis: 45%;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    min-width: 225px;
    height: 32px;
    margin: 2px;
    border-radius: 6px;
    background: #000000cc;
}

.flagged-name-span {
    padding: 0px 8px;
    vertical-align: -webkit-baseline-middle;
}

.team-flag {
    height: 32px;
    padding: 0px;
    margin: auto 0px auto auto;
    float: right;
    display: inline;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
}

.driver-flag {
    border-radius: 0px 6px 6px 0px;
    height: 32px;
    padding: 0px;
    margin: auto 0px auto auto;
    float: right;
    display: inline;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
}

@media (min-width: 700px) {
    .team-container {
        border-style: solid;
        display: flex;
        width: 50%;
        max-width: 650px;
        border-radius: 8px;
        border-width: 0px 0px 0px 8px;
        flex-direction: column;
        align-items: stretch;
        margin: 4px;
        background-color: #00000080;
    }

    .team-flag {
        border-radius: 0px 8px 8px 0px;
    }
}
